body {
    display: flex;
    height:max-content;


}

.container {
    margin: 0px;

}

#welcome {
    display:flex;
    padding-top: 1em;
}


#leftmenu {
    background-color: rgb(65, 70, 70);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#compose {
    align-self: center;
}


.left-column-margin {
    display: flex;
    flex-direction: column;
}
#middlemenu {
    background-color: white;

}

.sender {
    float: left;
    font-weight: bold;


}
.time {
    float: right;

}

#selectemail {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.card {
    padding:1em;
    border: white;

}

#rightmenu {
    background-color: whitesmoke;
}


